CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/engicam/smarcore-mx6sx/imximage.cfg,MX6SX,DDR_MB=512,ENV_IS_IN_MMC,SYS_BOOT_EMMC"
CONFIG_ARM=y
CONFIG_TARGET_SMARCORE_MX6SX=y
CONFIG_DM=y
CONFIG_DM_THERMAL=y
